./<template>
  <view class="moreBuy">
      <dl v-for="(item, index) in list" :key="index" class="dl">
      <dt><img :src="item.pic" alt="" class="img" /></dt>
      <dd>
        <p>{{ item.prodName }}</p>
        <p class="price">￥{{ item.price }}</p>
      </dd>
    </dl>
  </view>
</template>

<script>
import {moreBuy} from '@/api/user'
export default {
    data(){
        return {
            list:[]
        }
    },
    onShow(){
        moreBuy().then((res) => {
            console.log(res);
            this.list = res.records
        })
    }

}
</script>

<style scoped lang='scss'>
.moreBuy {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .dl {
    width: calc(100% / 2.5);
    dt{
        width: 100%;
        img{
            width: 100%;
            height: 147px;
        }
    }
  }
  .price{
      color:red
  }
}
</style>