<template>
  <view class="category">
    <view class="topSearch">
      <view class="search" @click="toSearch()">搜索您想要的商品</view>
    </view>
    <view class="leftNav">
      <p v-for="(item,index) in list" :key="index" @click="tab(index)" :class="{active:isActive===index}">
        {{item.categoryName}}
      </p>
    </view>
    <view class="right"></view>
  </view>
</template>

<script>
import {category} from '@/api/type'
export default {
  data(){
    return{
      list:[],
      index:0
    }
  },
  onShow(){
   category().then((res) => {
     console.log(res);
     this.list = res
   })
  },
  methods:{
    toSearch(){
      uni.navigateTo({
        url:"/pages/search/index"
      })
    },
  tab(index){
    console.log('111',index);
    this.index = index
  }
  }
}
</script>

<style scoped lang='scss'>
  .category{
    width: 100%;
    height: 100%;
    .topSearch{
      width: 100%;
      height: 30px;
      padding: 4px;
      border-bottom: 1px solid #ccc;
      .search{
        width: 100%;
        height: 100%;
        background-color: #F7F7F7;
        border-radius: 20px;
        text-align: center;
        line-height: 20px;
      }
    }
    .leftNav{
      width: 30%;
      height: 426px;
      background-color: #ccc;
      float: left;
      p{
        width: 100%;
        height: 30px;
        background-color: aliceblue;
      }
      .active{
        background-color: #F7F7F7;
      }
    }
    .right{
      width: calc(100% - 30%);
      height: 426px;
      background-color: antiquewhite;
      float: left;
    }
  }
</style>