<template>
  <view class="content">
    <!-- 搜索 -->
    <view class="search" @click="search()"
      ><view class="icon-box">
        <view class="icon-small-wrp">
          <icon class="icon-small" type="search" size="14"></icon>
        </view>
        <view class="icon-box-ctn">
          <view class="icon-box-title">搜索</view>
        </view>
      </view></view
    >
    <!-- 轮播图 -->
    <swiper
      indicator-dots="true"
      autoplay="true"
      interval="2000"
      duration="1000"
      circular="true"
      indicator-color="#D1E5FB"
      indicator-active-color="#1B7DEC"
    >
      <block v-for="(item, index) in swiperImg" :key="index">
        <swiper-item>
          <img class="item" :src="item.imgUrl" alt="" @click="toDeatil()" />
        </swiper-item>
      </block>
    </swiper>
    <!-- 菜单 -->
    <view class="mean">
      <view class="img_box" @click="newProd()">
        <img src="../../static/icon/newProd.png" alt="" />
        <p>新品推荐</p>
      </view>
      <view class="img_box" @click="shopCart()">
        <img src="../../static/icon/timePrice.png" alt="" />
        <p>限时特惠</p>
      </view>
      <view class="img_box" @click="moreBuy()">
        <img src="../../static/icon/neweveryday.png" alt="" />
        <p>每日疯抢</p>
      </view>
    </view>
    <!-- 滚动通知 -->
    <view class="swiper_y" @click="notice()">
      <span class="span">通知：</span>&nbsp;
      <swiper
        class="y"
        autoplay="true"
        interval="2000"
        duration="1000"
        vertical="true"
      >
        <block v-for="(item, index) in topList" :key="index">
          <swiper-item class="swiper_vertical">
            <view> {{ item.title }}</view>
          </swiper-item>
        </block>
      </swiper>
    </view>
    <!-- 商品列表 -->
    <view class="shopList">
      <!-- 每日上新 -->
      <view class="dayNew" v-for="(item, index) in prod" :key="index">
        <view>
          <p>{{ item.title }}</p></view>
      </view>
    </view>
  </view>
</template>

<script>
import { img, topNoticeList, prodList } from "@/api/user";
export default {
  data() {
    return {
      swiperImg: [],
      topList: [],
      prod: [],
    };
  },
  onLoad() {
  //  this.prodList()
  },
  onShow() {
    // 轮播
    img().then((res) => {
      this.swiperImg = res;
    });
    // 公告
    topNoticeList().then((res) => {
      this.topList = res;
    });
    // 商品列表
    prodList(3).then((res) => {
      this.prod = res;
      console.log(res);
    });
    // const data = this.prodList(3)
    // console.log(data);
  },
  methods: {
    // 搜索
    search() {
      uni.navigateTo({
        url: "/pages/search/index",
      });
    },
    // 每日公告
    notice() {
      uni.navigateTo({
        url: "/pages/notice/index",
      });
    },
    // 新品推荐
    newProd() {
      uni.navigateTo({
        url: "/pages/newProd/index",
      });
    },
    // 限时特惠
    shopCart() {
      uni.navigateTo({
        url: "/pages/shopCart/index",
      });
    },
    // 每日疯抢
    moreBuy() {
      uni.navigateTo({
        url: "/pages/moreBuy/index",
      });
    },
    toDeatil() {
      uni.navigateTo({
        url: "/pages/deatil/index",
      });
    },
  },
};
</script>

<style scoped lang='scss'>
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.data-v-57280228 {
  width: 100%;
}
.item {
  width: 95%;
  height: 100%;
  text-align: center;
  margin-left: 8px;
  background-color: aqua;
}
.search {
  width: 90%;
  height: 20px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: #f7f7f7;
  /* text-align: center; */
}
.icon-box {
  display: flex;
  justify-content: center;
}
.mean {
  width: 100%;
  height: 80px;
  /* background-color: aquamarine; */
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .img_box {
    width: calc(100% / 3);
    height: 70%;
    text-align: center;
    img {
      width: 40%;
      height: 70%;
    }
  }
}
.swiper_y {
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .y {
    width: calc(100% - 40px);
    height: 20px;
  }
  .swiper_vertical {
    width: 100%;
    height: 30px;
  }
  .span {
    background-color: red;
    width: 40px;
  }
}
.shopList {
  width: 100%;
  padding: 10px;
  .dayNew {
    width: 100%;
  }
}
</style>
