./<template>
  <view>
      <!-- <view v-if="list">
          <view v-for="(item,index) in list" :key="index">
          {{item}}
          </view>
      </view> -->
      <view>
          暂无商品
      </view>
  </view>
</template>

<script>
import {shopCart} from '@/api/user'
export default {
    data(){
        return {
            list:[]
        }
    },
    onShow(){
        shopCart().then((res) => {
            console.log(res,'shopCart');
            this.list = res.records
        })
    }
}
</script>

<style>

</style>