<script>
import { isH5, isWxin } from "@/utils/utils";
import request from "@/utils/request";
import { login } from "@/api/user";
export default {
  onLaunch: function () {
    // console.log("App Launch");
  },
  onShow: function () {
    // console.log("App Show");
    // console.log(process.env);
    if (isH5) {
      alert("不支持登录");
    }
    if (isWxin) {
      //   console.log(wx);
      uni.login({
        success({ code }) {
          console.log("code", code);
          //   发送接口请求
          login(code).then((res) => {
            console.log(res, "data");
            try {
              uni.setStorageSync("userinfo", {
                ...res,
              });
            } catch (error) {
              console.log(error);
            }
          });
        },
        fail(error) {
          console.log(error);
        },
      });
    }
  },
  onHide: function () {
    console.log("App Hide");
  },
};
</script>

<style lang="scss">
@import "uview-ui/index.scss";
/*每个页面公共css */
</style>
