<template>
  <view>
      <p v-for="(item,index) in noticeList" :key="index">
          {{item}}
      </p>
      <!-- <view v-for="(item,index) in noticeList" :key="index">
          <p>2222</p>
         <p> {{item.title}}</p>
      </view> -->
  </view>
</template>

<script>
import { topNoticeList } from "@/api/user";
export default {
    data(){
        return{
            noticeLIst,
        }
    },
  onShow() {
   topNoticeList().then((res) => {
        this.noticeLIst = res
      console.log(this.noticeLIst[0].title, "12345");
    });
  },

  mounted() {},
};
</script>

<style>
</style>